Trimestre-2/XML/Practica/tienda.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified"
    xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="tienda">
        <xs:complexType>
            <xs:sequence>
                <xs:element maxOccurs="unbounded" name="producto">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="nombre" type="xs:string"/>
                            <xs:element name="marca" type="xs:string"/>
                            <xs:element name="precio" type="xs:decimal"/>
                            <xs:choice>
                                <xs:element name="edadRecomendada" type="xs:string">
                                    <xs:simpleType>
                                        <xs:restriction base="xs:string">
                                            <xs:en
